*{
    padding: 0;
    margin: 0;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 90vh;
    background-color: #FADA7A;

}
.container{
    background: #fff;
border-radius: 2rem;
    padding: 2rem;
    min-height: 45vh;
    width: 40vh;
    
}
#img{
    margin-right: 1.rem;
}
form{
    margin: 2rem 0 1rem 0;
}
form select,button,input {
    width: 100%;
    border: none;
    outline: none;
    border-radius: 0.75rem;
}
form input{
    font-size: 1rem;
    border: 2px solid lightgray;
    height: 3rem;
    padding-left: 0.5rem;
}
.dropdown{
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-top: 2rem;
}
.select-container img {
    max-width: 2rem;

}
.select-container{
    display: flex;
    width: 6rem;
    
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
    border: 1px solid lightgray;
}
#msg{
    margin-top: 2rem;
}
    
    #msg{
        margin: 2rem 0 2rem 0;
    }

    form button{
        height: 3rem;
        background-color: #af4d98;
        color: #fff;
        font-size: 1rem;
        cursor: pointer;
    }
